.contact-page {
  .text-zone {
    margin-left: 10%;
    width: 85%;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 90%;
    
    .conatct-text-zone {
      flex: 1;
      margin-top: -20%;
    }
    h1 {
      font-size: 53px;
      font-family: 'Coolvetica';
      color: #ffd700;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      left: 10px;

      &::before {
        content: '<h1>';
        font-family: 'La Belle Aurore', cursive;
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }

      &::after {
        content: '</h1>';
        font-family: 'La Belle Aurore', cursive;
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        margin-top: 20px;
        left: -30px;
        bottom: -20px;
        opacity: 0.6;
        line-height: 18px;
      }  
    }
    p {
      font-style: 13px ;
      color: #fff;
      font-family: sans-serif;
      font-weight: 300;
      min-width: fit-content;
      animation: pulse 1s;
      
      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }
      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }
      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
    }
  }
}

.contact-form {
  width: 100%;
  flex: 1;
  margin-top: 20px;
  display: flex;
  align-items: space-between;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 20px;
      opacity: 0;
      overflow: hidden;
      display: block;
      clear: both;
      position: relative;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: transparent;
    height: 50px;
    border-bottom: 1px solid #09acfe;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }
  input:focus {
    outline: none;
    border-bottom:1px solid #ffd700;
  }

  textarea {
    width: 100%;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #09acfe;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    margin-top: 10px;
    box-sizing: border-box;
    min-height: 150px;
  }

  textarea:focus {
    outline: none;
    border-bottom:1px solid #ffd700;
  }

  .flat-button {
    color: #ffd700;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #ffd700;
    float: left;
    border-radius: 4px;
    background: 0 0;
    text-transform: uppercase;
    float: right;
    text-align: center;
    margin-right: 10px;
  }
}


@media screen and (max-width: 1200px) {
  .map-wrap {
    float: none;
    margin: 0;
    width: 100%;
    height: 400px;
  }
  
  .info-map {
    display: none;
  }
}